{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <h1>Modifier la catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="mt-3">
        {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}
