{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <ul class="list-unstyled">
        {% for category_with_count in categories_with_count %}
            {% set category = category_with_count.category %}
            <li class="my-4">
                <a href="{{ path("category_show", {id: category.id}) }}">
                    <h5 class="mt-0 mb-1 d-inline">{{ category.name }}</h5>
                </a>
                <p>{{ category_with_count.count }} citations.</p>
            </li>
        {% endfor %}
    </ul>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('category_new') }}" class="btn btn-primary">Ajouter une catégorie</a>
    {% endif %}
{% endblock %}
